host = '[::1]'
port = '55000'
socket = '57000'
save = 5
delay = 10
send = 'false'
dpow_enable = 'false'
dpow_url = ''
dpow_api_key = ''
dpow_user = ''
upload = 'false'
upload_user = 
upload_key = 
#BETA
betamonitor = 'nano_19fm1ghgf6adogakszxjh1bq3sc61xsyudsn4wugxaudsinr5ot6dr5umqyf'
betawallet = ''
betaaccount = ''
#LIVE
monitor = 'nano_1311x3yriydwtbpkyenh1duqef74rntof7aaqf7drxddwnjdr1cntj9nrb9c'
wallet = ''
account = ''
representative = ''